* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    color: lightgoldenrodyellow;
}


nav {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, .1);
}

#profile {
    margin-left: 3rem;
    margin-top: 5rem;
}

#login_div, #register_div, #new_game, #update, #delete, #csv_upload {
    margin-left: 3rem;
    margin-top: 3rem;
}

#all_games {
    margin-left: 45rem;
    margin-top: 5rem;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    width: 45rem; 
    height: 35rem;
    border-radius: 10px;
    padding: 1rem;
} 

.div_sub {
    overflow: auto;
    scrollbar-width: thin;
    height: 24rem;
}

#kw_filter, #plat_filter, #score_filter, #score_plat_filter  {
    margin-left: 45rem;
    margin-top: 5rem;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    width: 45rem; 
    border-radius: 10px;
    padding: 1rem;
} 

#api_kw, #api_ss, #api_tr {
    margin-left: 50rem;
    margin-top: 5rem;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    width: 40rem; 
    border-radius: 10px;
    padding: 1rem;
}

#profile {
    margin-left: 75%;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    width: 20rem; 
    border-radius: 10px;
    padding: 1rem;
}

#about {
    background-color: rgb(255, 255, 255, .1);
    width: 60rem;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 18rem;
    margin-top: 5rem;
}

#main {
    display: flex;
    margin-left: 75%;
    margin-top: 5rem;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    width: 18rem;
    border-radius: 10px;
    padding: 1rem;
}

a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

a:hover {
    color: red;
}

li {
    list-style-type: none;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, .1);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}

#title {
    margin-left: 2rem;
}

#subtitle {
    margin-left: 13rem;
}

#login {
    margin-right: 2rem;
}

#dlt_game {
    color: red;
}