{% extends 'base.html' %}
{% block additional_styles %}
<style>
body {
    background-image: url("/static/images/GLaDOS.jpg");
}
</style>
{% endblock %}

{% block content %}

    <div id="all_games">
                
        <h1>Game Collection</h1><br>

        <h3><a href="{% url 'games:new' %}">Create New Record</a></h3><br>

        <div class="div_sub">

            {% for game in object_list %}

                <div>

                    {% if user == game.owner %}

                        {{ game.title }}, {{ game.platform }}, {{ game.score }}...<a href="{% url 'games:update' game.id %}"><i class="material-icons" style="font-size:14px;">edit</i></a>  <a href="{% url 'games:delete' game.id %}"><i class="material-icons" style="font-size:14px;">delete</i></a>

                    {% endif %}   

                </div>

            {% endfor %}

        </div>    

    </div>    

{% endblock %}