{% extends 'base.html' %}
{% block additional_styles %}
<style>
body {
    background-image: url("/static/images/GLaDOS.jpg");
}
</style>
{% endblock %}

{% block content %}

    <div id="csv_upload">

        {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
        {% else %}
        {{order}}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file1" name="file">
            <button type="submit">Upload</button>
        </form>
        {% endif %}
        {% for profile in profiles %}
        {{profile.name}}
        {% endfor %}

    </div>    

{% endblock %}    