{% extends 'base.html' %}
{% block additional_styles %}
<style>
body {
    background-image: url("/static/images/sephiroth.jpg");
}
</style>
{% endblock %}

{% block content %}

    <div id="new_game">
        <h1>Create New Record</h1><br>
        <form action="{% url 'games:new' %}" method="post">
            {% csrf_token %}
            <input type='text' placeholder='title' name='title'>
            <input type='text' placeholder='platform' name='platform'>
            <input type='number' placeholder='score' name='score' >
            <input type="submit" value="Save">
        </form>
    </div>
                
{% endblock %}