{% extends 'base.html' %}
{% block additional_styles %}
<style>
body {
    background-image: url("/static/images/GLaDOS.jpg");
}
</style>
{% endblock %}

{% block content %}

    <div id="score_filter">

        <h1>Minimum Score Filter</h1><br>

        <form action="{% url 'games:score_filter' %}" method="get">
            <input name="score" type="number" placeholder="Enter min score">
            <input type="submit" value="Filter">
        </form><br>


        <div class="div_sub">

            {% for game in object_list %}

                <div>

                    {% if user == game.owner %}

                        {{ game.title }}, {{ game.platform }}, {{ game.score }}...<a href="{% url 'games:update' game.id %}"><i class="material-icons" style="font-size:14px;">edit</i></a>  <a href="{% url 'games:delete' game.id %}"><i class="material-icons" style="font-size:14px;">delete</i></a>

                    {% endif %}   

                </div>

            {% endfor %}

        </div>    
    
    </div>
                
{% endblock %}